<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404!</title>

    <style>
        img{
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <img src="https://i.pinimg.com/736x/40/12/cd/4012cdc2cf44b21bfcb51ccf5c09c42e.jpg" alt="404">
</body>
</html>